{% extends 'base.html' %}
{% load static %}

{% block title %}Вход | PITAKA{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}
<main class="account">
  <h1 id="title">Вход</h1>

  <form method="post" id="form">
    {% csrf_token %}
    
    {% if form.errors %}
    <p class="error" id="error">Неверное имя пользователя или пароль</p>
    {% endif %}

    <input type="text" name="username" id="email" placeholder="Имя пользователя или Email" required>
    <input type="password" name="password" id="password" placeholder="Пароль" required>

    <a href="#" class="forgot">Забыли пароль?</a>

    <button type="submit" class="black-btn">Войти</button>
  </form>

  <a href="{% url 'accounts:register' %}" class="outline-btn" id="switch">Создать аккаунт</a>
</main>
{% endblock %}
